/** RESET DE CSS **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** VARIABLES DE FUENTE **/
:root {
  --fs-400: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
}

/** BODY PRINCIPAL**/

body {
 
  font-family: 'DM Sans', sans-serif; /* fuente escogida de google fonts */
  line-height: 1.6; /** Esto es como el interlineado de word **/
  font-size: var(--fs-400); /*esta variable ya la declara al principio del css*/
  background-color: #0a0808; /*Este es el color de fondo de todas las páginas*/
  color: #fdfdfd; /*Este es el color de letra de todas las páginas*/
  padding: 1.5rem; /* Este padding esta para que el sitio no choque contra el borde*/
  
}

/** NAVEGACIÓN **/
/*utilice flex para alinear el menu de navegación en el elemento nav*/
.navegacion { 
  display: flex; 
  align-items: center; /*alineo de manera vertical la barra de nav por si llego a colocar un logo*/
  padding: 1rem 3rem; /*el primer item es el eje vertical el segundo item el horizontal*/
 
}

.navegacion-lista { /* este es el contenedor de la lista desordenada "ul"*/
  display: flex; /* el flex logra que tenga un menu horizontal*/
  gap: 2.5rem; /*este el espacio que tengo en cada li*/
  list-style: none; /*elimino los puntos del ul*/
   margin-left: auto; /* empuja el menú a la derecha */
}

/* Estilos visuales sobre los enlaces */
.navegacion-lista a {
  text-decoration: none;     /* saca subrayado */
  color: #f1e7e7;               /* color base */
  transition: color 0.3s;    /* transición suave */
}

.navegacion-lista a:hover { /* uso de seudoclase "hover" paso el mouse sobre cada enlace y aparece color naranja */
  color: #FF8C00; /*color del hover*/
}

.navegacion-lista a:active { /* seudoclase "active" se activa cuando hago click en el enlace */
  color: #ff4500;
}

.navegacion-lista a:focus { /* seudoclase foco cuando uso el teclado */
  color: #FF8C00;
  outline: 3px solid #FFF9C4; /* dibuja el borde del foco */
  outline-offset: 2px; /* separa del borde del foco*/
}

/** HOME es el section donde se encuentra el h1 y h2 junto a dos imagenes**/

.home {
  display: grid; /* decidi usar grip ya que eran 2 columnas y 2 filas*/
  grid-template-columns: 1fr 1fr; /*designe dos columnas iguales cada una 50%*/
  grid-template-rows: auto auto; /* dos filas en auto la altura se adapta al contenido*/
  gap: 2rem; /* este es el espacio entre las filas y las columnas*/
  align-items: center; /*alineo de forma vertical cada elemento dentro de su celda */
  padding-bottom: 2rem; /*separo el section del footer*/
}

.titulo {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.subtitulo {
  color: #FFF59D;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

/*PÁGINA PRINCIPAL "INDEX"*/

/*contenedor de imagen1, se encuentra en la columna 1 fila 2 es la que parece como un banner estirado*/
.home-imagen1 { 
  grid-column: 1;
  grid-row: 2;
}

.home-imagen1 img {
  width: 100%; /*la imagen ocupa todo el ancho del contenedor*/
  height: 250px; /*esta altura la fui probando hasta que quede como me parecia mejor a un banner*/
  object-fit: cover; /*para recortar la imagen proporcionalmente*/
  border-radius: 8px; /* solamente para suavizar los bordes queda muy bueno*/
}

/*contenedor de imagen2, se encuentra en la columna 2 y ocupa la fila desde la 1 a la 2*/
.home-imagen2 {
  grid-column: 2;
  grid-row: 1 / 3;         /* ocupa ambas filas */
   margin-top: 2rem; /*separo la imagen del menu de navegación*/
}

.home-imagen2 img {
  max-width: 100%; /*la imagen ocupa todo el ancho del contenedor*/
  height: auto;  /*la altura se calcula automaticamente en función del ancho*/
}

.home-imagen1,
.home-imagen2 { /*coloque un borde que me parecio bueno para las dos imagenes, bastante suave*/
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
}

/** PÁGINA SOBRE MI **/



.sobremi {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem; /* separación del menú*/
  justify-content:center;
  padding-bottom: 2rem; /*separo el section del footer*/
}


.sobremi-imagen1 img {
  width: 200px;
  height: auto;
  border-radius: 12px;
}

.sobremi-contenido {
  background-color: rgba(255, 255, 255, 0.05); /*el fondo donde se encuentra el texto*/
  padding: 1.5rem 2rem;
  border-radius: 12px;
  color: #FFF59D;
  max-width: 600px;
  
}

.sobremi-parrafo {
  max-width: 65ch;
  text-align: center; 
  
}


/** PROYECTOS **/

/* Contenedor del carousel */
#carouselExample {
  max-width: 800px;   
   margin: 0 auto 4rem;
}

/* Imágenes del carousel */
#carouselExample .carousel-item img {
  height: 350px;      
  object-fit: cover;  /* no se deforma */
  border-radius: 8px;
}


/*formulario*/

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

/*elementos del formulario*/

.form-field { /*campo nombre, email, mensaje*/
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* Grupo de radios */
.form-field--group {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 0.6rem;
}

/* Labels y legend */
.form-label,
.form-legend {
  font-weight: 500;
  color: #FFF59D;
}

/* Inputs y textarea */
.form-input,
.form-textarea {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
}

/* Focus accesible */
.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: none;
  border-color: #FF8C00;
  box-shadow: 0 0 0 3px #FF8C00;
}

/* Opciones (radio / checkbox) */
.form-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

/* Inputs específicos */
.form-radio,
.form-checkbox {
  width: auto;
  cursor: pointer;
}

/*formulario botón*/

.form-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  background-color: #f1bb55;
  color: #111;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-button:hover {
  background-color: #e0a340;
}

.form-button:active {
  background-color: #f1bb55;
  transform: scale(0.95);
  
}


/* Campos requeridos */
.form-input:required,
.form-textarea:required {
  border-left: 4px solid #FF8C00;
}



/** FOOTER **/
.footer {
  display: flex;
  justify-content: center; /*centro los elementos */
  align-items: center; /*centro verticalmente, lo dejo porque hay imágenes dentro del footer (Redes sociales)*/
  gap: 2rem; /* espacio entre los items*/
  padding: 2.5rem 1.5rem; /* primer item espacio vertical segundo horizontal*/
  background-color: #111; /*fondo negro un poco más claro que el de fondo de toda la web*/
  color: #FFF59D; /*texto claro*/
  font-size: var(--fs-400); /*utilice las variables declaradas al principio*/
  text-align: center; /*para centrar el texto, no el contenedor*/
}

.footer-bandera img {
  display:block; /* para evitar espacios*/
  width: 50px;
  opacity: 0.85 /*un poco de opacidad a la bandera*/
  
}

.footer-social {
  display: flex; /* flex para los iconos de las redes sociales de forma horizontal*/
  gap: 1.5rem;
}

.footer-social img {
  width: 24px; /*tamaño de ancho de los iconos redes sociales*/
  height: 24px; /* tamaño de alto de los iconos redes sociales*/
  filter: invert(90%);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-social img:hover { /* cuando se pasa el mouse sobre los iconos de redes sociales*/
  transform: translateY(-3px); /*cada icono se desplaza un poquito hacia arriba*/
  opacity: 0.85;
}


/** MEDIA QUERIES RESPONSIVE **/

/* Desktop grande: 1024px +
@media (min-width: 1024px) {
  .galeria { grid-template-columns: repeat(3, 1fr); }
  .proyecto img { max-width: 250px; }
  .home img { max-width: 600px; }
} */

/* Tablet: 768px - 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .projects__gallery { grid-template-columns: repeat(2, 1fr); }
  .projects__image { max-width: 200px; }
  .hero__img { max-width: 80%; }
  h1 { font-size: 1.8rem; }
}

/* Móvil: hasta 767px */
@media (max-width: 767px) {
  .projects__gallery{ grid-template-columns: 1fr; }
  .projects__image { max-width: 90%; }
  .hero__img { max-width: 90%; }
  .nav__list { gap: 0.5rem; }
  form { max-width: 90%; }
  button { width: 100%; }
  h1 { font-size: 1.5rem; padding: 0.4em 0.8em; }

}
